@charset "UTF-8";


@media screen and (min-width:768px) and (max-width : 992px) {
    body{
        background-image: linear-gradient(90deg, #021859, #0756F2,#2980F2);
    }
    
    #login{
        width: 85vw;
        height: 340px;
    }

    #imagem{
        float: left;
        width: 30%;
        height: 100%;
    }
    #formulario{
        float: right;
        width: 70%;
    }
    #formulario > p{
        font-size: 1.0em;
    }
}

@media screen and (min-width:993px) {
    body{
        background-image: linear-gradient(90deg, #021859, #0756F2,#2980F2,#5C9DF2);
    }
    
    #login{
        width: 50vw;
        height: 400px ;
    }

    #imagem{
        float: left;
        width: 40%;
        height: 100%;
    }
    #formulario{
        float: right;
        width: 60%;
    }
    #formulario > h1{
        font-size: 2em;
    }
    #formulario > p{
        font-size: 1.2em;
        margin: 20px 0px;
    }
    
}